body {
	margin: 20px;
	background-color: lightskyblue;
}

$portrait: rotate(90deg);
$landscape: rotate(0deg);
$h: 75%;
$w: 75%;

img {
	display:flex;
	margin-top:20px;
	margin-bottom: 20px;
}

img.portrait {
	height:$h;
	width:$w;
	transform: $portrait;

}

img.landscape {
	height:$h;
	width:$w;
	transform: $landscape;

}