$portrait: rotate(90deg);
$landscape: rotate(0deg);
$h: 75%;
$w: 75%;

img.portrait {
	height:$h;
	width:$w;
	transform: $portrait;
	display:block;
	margin-top:20px;
	margin-bottom: 20px;
}

img.landscape {
	height:$h;
	width:$w;
	transform: $landscape;
	display:block;
}

// .row {
// 	display: flex;
// 	flex-wrap: wrap;
// 	padding: 0 4px;
//   }
  
//   /* Create four equal columns that sits next to each other */
//   .column {
// 	flex: 25%;
// 	max-width: 25%;
// 	padding: 0 4px;
//   }
  
//   .column img {
// 	margin-top: 8px;
// 	vertical-align: middle;
// 	width: 100%;
// 	transform: rotate(90deg);
// 	overflow: hidden;

//   }
  
//   /* Responsive layout - makes a two column-layout instead of four columns */
//   @media screen and (max-width: 800px) {
// 	.column {
// 	  flex: 50%;
// 	  max-width: 50%;
// 	}
//   }
  
//   /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
//   @media screen and (max-width: 600px) {
// 	.column {
// 	  flex: 100%;
// 	  max-width: 100%;
// 	}
//   }