body {
	background-color: lightblue;
}

@media only screen and (min-width: 800px) {
	body {
		background-color: aqua;
	}
	img {
		height:33%;
		width:33%;
	}
}

img {
	position: relative;
	display: block;
	margin:20px;
}

.rotateimg {
	transform: rotate(90deg);
	margin:20px;
}

/* h1 {
	color: red;
} */

ul {
	list-style: None;
	margin-left: 0;
	padding-left: 0;
}
  
  li.neutral:before {
	content: "🐈 ";
	padding-right: 5px;
  }

  li.smile:before {
	content: "😺 ";
	padding-right: 5px;
  }

  li.frown:before {
	content: "😾 ";
	padding-right: 5px;
  }
